html {
    scroll-behavior: smooth;
}

body{
     background-color: #1a1f26;
    font-size: 120%;
}
main{
    color:#14b8a6;
    margin-right: 10%;
}

#page-nav {
    background-color: #2d3642;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 10%;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}
.image {
    max-width: 90%;
    height: auto;
    border: 3px solid white;
    border-radius: 1rem;
}
a {
    color: inherit;
}
h2{
    color:aliceblue;
}
h3{
    color:aliceblue;
}
#hero{
    color:aquamarine;
    text-align: center;
}